html {
  overflow-y: scroll !important;
}

.landing-page-sidebar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}
.landing-page-sidebar-section {
  margin-bottom: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.show-more {
  margin-top: 1rem;
}

.landing-page-sidebar-section span {
  font-size: 0.85rem;
}

.family-row,
.tag-row {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-weight: 400;
  padding: 0.25rem;
}

.family-row input,
.tag-row input {
  margin-right: 0.625rem;
  height: 1rem;
  width: 1rem;
}

.family-count,
.tag-count {
  margin-left: auto;
  background-color: var(--ast-sidebar-hover-background);
  border-radius: 50%;
  padding: 0.25rem 0.75rem;
}
.selected-families {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.remove-family {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
}
.project-card:hover {
  cursor: pointer;
}

.project-thumbnail {
  padding: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0rem;
  padding: 0.5rem;
  padding-left: 1rem;
}

.project-description {
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
}
.sd-bg-muted {
  background-color: var(--ast-sidebar-hover-background) !important;
  border-radius: 999px;
  font-size: 12px;
  line-height: 16px;
}

[data-theme="dark"] .sd-bg-muted {
  background-color: #3d3d3d !important;
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .landing-page-sidebar {
    padding: 1rem;
  }

  .project-card {
    margin: 0 auto;
    width: 90%;
  }
}

.selected-tag,
.selected-family {
  display: inline-block;
  background-color: var(--ast-sidebar-hover-background);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25em;
  font-weight: 600;
}

.ansys-icon {
  width: 16px; /* Adjust as needed */
  height: 16px;
  margin-right: 5px; /* Space between icon and family name */
  vertical-align: middle;
  padding: 0rem;
}

/* icon src dark and light mode */
.ansys-icon {
  content: url("../icons/icon-light.svg");
}

/* Dark mode icon */
html[data-theme="dark"] .ansys-icon {
      content: url("../icons/icon-dark.svg");
  }