[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "pyansys"
version = "2024.2.dev0"
description = "Pythonic interfaces to Ansys products"
readme = "README.rst"
requires-python = ">=3.9,<4"
license = {file = "LICENSE"}
authors = [{name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"}]
maintainers = [{name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

dependencies = [
    "ansys-dpf-composites==0.3.2",
    "ansys-dpf-core==0.9.0",
    "ansys-dpf-post==0.5.0",
    "ansys-dpf-gate==0.4.1",
    "ansys-dyna-core==0.4.2",
    "ansys-dynamicreporting-core==0.5.0",
    "ansys-geometry-core==0.4rc1",
    "ansys-grantami-bomanalytics==1.2.0",
    "ansys-grantami-recordlists==1.0.0.post1",
    "ansys-fluent-core==0.17.1",
    "ansys-mapdl-core==0.66.0",
    "ansys-math-core==0.1.3",
    "ansys-mechanical-core==0.10.3",
    "ansys-meshing-prime==0.5.0.dev7",
    "ansys-motorcad-core==0.2.0",
    "ansys-platform-instancemanagement==1.1.2",
    "ansys-pyensight-core==0.6.2",
    "ansys-openapi-common==1.2.2",
    "ansys-optislang-core==0.4.0",
    "ansys-seascape==0.2.0",
    "ansys-sherlock-core==0.4.0",
    "ansys-systemcoupling-core==0.3.0",
    "pyaedt==0.7.0",
    "pytwin==0.5.0",
]

[project.optional-dependencies]
mapdl-all = [
    "ansys-mapdl-reader==0.52.20",
]
fluent-all = [
    "ansys-fluent-visualization==0.7.1",
    "ansys-fluent-parametric==0.8.1",
]
tools = [
    "ansys-units==0.1.0",
    "ansys-tools-path==0.3.1",
    "pyansys-tools-report==0.7.0",
    "pyansys-tools-versioning==0.5.0",
]
all =  [
    # MAPDL - ALL
    "ansys-mapdl-reader==0.52.20",
    # FLUENT - ALL
    "ansys-fluent-visualization==0.7.1",
    "ansys-fluent-parametric==0.8.1",
    # TOOLS
    "ansys-units==0.1.0",
    "ansys-tools-path==0.3.1",
    # "ansys-tools-protoc-helper==0.4.0; python_version<='3.10'",
    "pyansys-tools-report==0.7.0",
    "pyansys-tools-versioning==0.5.0",
]
doc = [
    "Sphinx==7.2.6",
    "ansys-sphinx-theme==0.12.2",
    "sphinx-copybutton==0.5.2",
    "sphinx-design==0.5.0",
]

[project.urls]
Source = "https://github.com/ansys/pyansys"
Documentation = "https://docs.pyansys.com"

[tool.flit.module]
name = "pyansys"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src"]
