[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "pyansys"
version = "2024.2.0"
description = "Pythonic interfaces to Ansys products"
readme = "README.rst"
requires-python = ">=3.9,<4"
license = { file = "LICENSE" }
authors = [{ name = "ANSYS, Inc.", email = "pyansys.support@ansys.com" }]
maintainers = [{ name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com" }]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

dependencies = [
    "ansys-acp-core==0.1b1",
    "ansys-additive-core==0.18.0b6",
    "ansys-additive-widgets==0.2.1",
    "ansys-conceptev-core==0.1.4",
    "ansys-dpf-composites==0.5.0",
    "ansys-dpf-core==0.12.2",
    "ansys-dpf-post==0.8.0",
    "ansys-dyna-core==0.4.15",
    "ansys-dynamicreporting-core==0.6.0",
    "ansys-edb-core==0.1.4",
    "ansys-fluent-core==0.20.1",
    "ansys-geometry-core==0.6.5",
    "ansys-hps-client==0.8.0",
    "ansys-mapdl-core==0.68.3",
    "ansys-math-core==0.1.5",
    "ansys-mechanical-core==0.11.1",
    "ansys-meshing-prime==0.6.0.dev9",
    "ansys-modelcenter-workflow==0.1.1",
    "ansys-motorcad-core==0.5.1",
    "ansys-optislang-core==0.7.1",
    "ansys-platform-instancemanagement==1.1.2",
    "ansys-pyensight-core==0.8.4",
    "ansys-rocky-core==0.1.0",
    "ansys-seascape==0.2.0",
    "ansys-sherlock-core==0.6.0",
    "ansys-simai-core==0.2.1",
    "ansys-systemcoupling-core==0.6.0",
    "ansys-turbogrid-core==0.4.1",
    "ansys-workbench-core==0.4.0",
    "pyaedt==0.9.7",
    "pyedb==0.18.0",
    "pygranta==2024.2.0",
    "pytwin==0.7.0",
]

[project.optional-dependencies]
mapdl-all = ["ansys-mapdl-reader==0.53.0"]
fluent-all = ["ansys-fluent-visualization==0.9.0"]
tools = [
    "ansys-materials-manager==0.2.3",
    "ansys-tools-filetransfer==0.1.0",
    "ansys-tools-local-product-launcher==0.1.0",
    "ansys-tools-path==0.6.0",
    # "ansys-tools-protoc-helper==0.4.0; python_version<='3.10'",
    "ansys-tools-visualization-interface==0.2.6",
    "ansys-units==0.3.2",
    "pyansys-tools-report==0.7.3",
    "pyansys-tools-versioning==0.5.0",
    "pyansys-tools-variableinterop==0.1.1",
]
all = [
    # MAPDL - ALL
    "ansys-mapdl-reader==0.53.0",
    # FLUENT - ALL
    "ansys-fluent-visualization==0.9.0",
    # TOOLS
    "ansys-materials-manager==0.2.3",
    "ansys-tools-filetransfer==0.1.0",
    "ansys-tools-local-product-launcher==0.1.0",
    "ansys-tools-path==0.6.0",
    # "ansys-tools-protoc-helper==0.4.0; python_version<='3.10'",
    "ansys-tools-visualization-interface==0.2.6",
    "ansys-units==0.3.2",
    "pyansys-tools-report==0.7.3",
    "pyansys-tools-versioning==0.5.0",
    "pyansys-tools-variableinterop==0.1.1",
]
doc = [
    "Sphinx==7.3.7",
    "ansys-sphinx-theme==0.16.6",
    "sphinx-copybutton==0.5.2",
    "sphinx-design==0.6.0",
    "sphinxcontrib-mermaid==0.9.2",
]

[project.urls]
Source = "https://github.com/ansys/pyansys"
Documentation = "https://docs.pyansys.com"

[tool.flit.module]
name = "pyansys"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
src_paths = ["doc", "src"]
