.carousel-item {
  height: 30rem;
  color: white;
  border: thin solid black;
}

.carousel-item::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.carousel-content {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 40%;
}

.carousel-content h2 {
  font-size: 3rem;
  color: white;
}

.carousel-content p {
  margin: 2rem 0;
  font-size: 1.25rem;
  color: white;
}

.carousel-content .btn-custom {
  background-color: #ffb71b;
  color: black;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
}

.carousel-indicators {
  width: 100%;
  height: 4rem;
  margin: 0 0 65px 0;

  background-color: rgba(0, 0, 0, 1);

  position: absolute;
  bottom: -4rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.carousel-indicators .active {
  border-style: none none none solid;
  border-left: 0.2rem solid #ffb71b !important;
  border-radius: 0;
}

.carousel-indicators [data-bs-target] {
  color: white;
  background: transparent;

  text-indent: 0rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  height: 50%;
  width: 75%;
  text-align: left;

  border-style: none none none solid;
  border-left: 0.2rem solid gray;
  border-radius: 0;
}

.carousel-indicators [data-bs-target]:first-child {
  margin-left: 2rem;
}


@keyframes slideBackground {
  0%   { background-image: url('https://images.ansys.com/is/image/ansys/engineers-around-ev-design?wid=1850&fmt=png-alpha&op_usm=0.9,1.0,20,0&fit=constrain,0'); }
  33%  { background-image: url('https://images.ansys.com/is/image/ansys/ansys-homepage-hero-space?wid=1850&fmt=png-alpha&op_usm=0.9,1.0,20,0&fit=constrain,0'); }
  66%  { background-image: url('https://images.ansys.com/is/image/ansys/homepage-carousel-autonomous-w1920xh675v3?wid=1850&fmt=png-alpha&op_usm=0.9,1.0,20,0&fit=constrain,0'); }
  100% { background-image: url('https://images.ansys.com/is/image/ansys/hero-optic-lidar-2?wid=1850&fmt=png-alpha&op_usm=0.9,1.0,20,0&fit=constrain,0'); }
}
.carousel-background {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  animation: slideBackground 15s infinite;
}
