.testimonial-card {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}

.projects-landingpage,
.blogs-landingpage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.project-lp-thumbnail {
  padding: 24px;
  border-radius: 8px;
}

.project-card .sd-card {
  padding: 24px;
}

.bd-footer {
  border-top: 10px solid #ffc107;
  width: 100%;
  color: white;
  background-color: black;
}

.footer-left h4,
.footer-right h4 {
  color: white;
}

.bd-footer a {
  color: white;
}

.carousel {
  background-color: #000 !important;
}

/** Footer styles **/
.external-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.external-link .link-text {
  display: inline-block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.external-link i {
  font-size: 0.85em;
}

.footer-right .social-icons a {
  margin-right: 12px; /* space between icons */
  color: #fff; /* default icon color */
  text-decoration: none;
}

.footer-right .social-icons i {
  font-size: 24px; /* 👈 control size here */
  transition: color 0.3s; /* smooth hover effect */
}

.footer-right .social-icons a:hover i {
  color: #ffb71b; /* highlight color on hover */
}
