.testimonial-card {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}

.projects-landingpage,
.blogs-landingpage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .projects-landingpage,
  .blogs-landingpage {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.bd-page-width {
  max-width: min(100%, 1550px) !important;
}

.project-lp-thumbnail {
  padding: 24px;
  border-radius: 8px;
}

.project-card .sd-card {
  padding: 24px;
}

.bd-footer {
  border-top: 10px solid #ffc107;
  width: 100%;
  color: white;
  background-color: black;
}

.footer-left h4,
.footer-right h4 {
  color: white;
}

.bd-footer a {
  color: white;
}

.carousel {
  background-color: #000 !important;
}

/** Footer styles **/
.external-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.external-link .link-text {
  display: inline-block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.external-link i {
  font-size: 0.85em;
}

.footer-right .social-icons a {
  color: #fff;
  text-decoration: none;
}

.footer-right .social-icons a:hover i {
  color: #ffb71b;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  width: 100%;
}

/**
* Swiper styles for project carousel
*/

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  display: flex;
}
.swiper-slide .project-card {
  height: 470px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}

.swiper-pagination {
  position: initial !important;
}

/* general styles */

/* Remove breadcrumbs */
.bd-header-article {
  display: none !important;
}

/* Maximize the width of the content area */
.bd-main .bd-content {
  display: flex !important;
  height: 100% !important;
  justify-content: center !important;
}

.bd-main .bd-content .bd-article-container {
  width: 100% !important;
}

.center {
  margin: 0 auto !important;
}

#hero-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
