name: Create milestones for Ansys Release
on:
  workflow_dispatch:
    inputs:
      release-date:
        description: 'Milestone release date (format must be YYYY/MM/DD)'
        required: true
        default: '2023/01/30'

env:
  MAIN_PYTHON_VERSION: '3.11'

jobs:
  create-milestone:
    name: Create a milestone in ${{ matrix.pyansys-projects }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pyansys-projects:
          [
            "ansys/openapi-common",
            "ansys/pyacp",
            "ansys/pyadditive",
            "ansys/pyaedt",
            "ansys/pyansys-geometry",
            "ansys/pyansys-math",
            "ansys/pyconceptev"
            "ansys/pydpf-core",
            "ansys/pydpf-post",
            "ansys/pydpf-composites",
            "ansys/pydyna",
            "ansys/pydynamicreporting",
            "ansys/pyedb",
            "ansys/pyedb-core",
            "ansys/pyensight",
            "ansys/pyfluent",
            "ansys/pygranta",
            "ansys/pyhps",
            "ansys/pymapdl",
            "ansys/pymechanical",
            "ansys/pymodelcenter",
            "ansys/pymotorcad",
            "ansys/pyoptislang",
            "ansys/pypim",
            "ansys/pyprimemesh",
            "ansys/pyrocky",
            "ansys/pyseascape",
            "ansys/pysherlock",
            "ansys/pysimai",
            "ansys/pysystem-coupling",
            "ansys/pyturbogrid",
            "ansys/pytwin",
            # MAPDL - ALL
            "ansys/pymapdl-reader",
            # FLUENT - ALL
            "ansys/pyfluent-parametric",
            "ansys/pyfluent-visualization",
            # TOOLS
            "ansys/ansys-tools-filetransfer",
            "ansys/ansys-tools-local-product-launcher",
            "ansys/ansys-tools-path",
            "ansys/ansys-tools-protoc-helper",
            "ansys/pyansys-tools-report",
            "ansys/pyansys-tools-versioning",
            "ansys/pyansys-units",
            "ansys/pyansys-tools-variableinterop",
            "ansys/pymaterials-manager",
          ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ env.MAIN_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Linux pip cache
        uses: actions/cache@v4
        if: ${{ runner.os == 'Linux' }}
        with:
          path: ~/.cache/pip
          key: Python-${{ runner.os }}-create-milestone

      - name: Install requirements
        run: |
          pip install pygithub

      - name: Create the milestone
        env:
          TOKEN: ${{ secrets.CREATE_MILESTONE_TOKEN }}
          REPOSITORY: ${{ matrix.pyansys-projects }}
          RELEASE_DATE: ${{ github.event.inputs.release-date }}
        run: |
          python tools/milestone.py